@import '../../sass/utils/mixins';
@import '../../sass/utils/variables';
@import '../../sass/utils/placeholders';
@import '../../sass/components/general/image';

.team {
  display: flex;
  flex-wrap: wrap;
  @extend %list;

  text-align: center;

  &__item {
    @include for-size(mobile-only) {
      width: 100%;
    }
    @include for-size(tablet-only) {
      width: calc((100% - 30px) / 2);
    }
    @include for-size(desktop) {
      width: calc((100% - 90px) / 4);
    }
  }

  &__item:not(:last-child) {
    @include for-size(mobile-only) {
      margin-bottom: 30px;
    }
    @include for-size(desktop) {
      margin-right: 30px;
    }
  }

  &__item:nth-child(2n + 1) {
    @include for-size(tablet-only) {
      margin-right: 30px;
    }
  }

  &__item:nth-child(-n + 2) {
    @include for-size(tablet-only) {
      margin-bottom: 30px;
    }
  }
}

.card {
  padding-bottom: 30px;

  background-color: $second-accent-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;

  &__title {
    @extend %title;
    @include fonts(500, $lh: 1.19);
  }

  &__profession {
    margin: 0px;
    margin-bottom: 16px;

    @include fonts($lh: 1.19);
  }
}
